{{diagnostic}}

<form #todoForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Primary Key</label><br />
    {{model.pkey}}
  </div>
  <div>
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Task Name"
           required
           [(ngModel)]="model.name" name="name"
           #name="ngModel" #spy/>
    <div [hidden]="name.valid ||name.pristine"
         class="alert alert-danger">
      Name is required.
    </div>
  </div>
{{spy.className}}
  <div>
    <label>
      <input type="checkbox" [(ngModel)]="model.hasDone" name="hasDone" /> Done?
    </label>
  </div>
  <button [disabled]="!todoForm.form.valid" type="submit" class="btn btn-success">Save</button>
</form>
