<div>
  <form [formGroup]="form">
    <div class="form-group">
      <label class="center-block">
        PKey
        {{pkey}}
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">
        Name
        <input class="form-control" formControlName="name" />
      </label>
    </div>
    <div class="checkbox">
      <label class="center-block">
        <input type="checkbox" formControlName="hasDone" /> Done?
      </label>
    </div>
  </form>
  {{diagnostic}}
</div>
